@import url(variables.css);

.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.content img{
    padding-top: 25px;
}

.content h2{
    font-weight: bold;
    padding: 25px;
    font-style: italic;
    color: white;
}