@import url(variables.css);

.product-page{
    display: flex;
    justify-content: center;
}

.products {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; /* Opcionális: távolság az elemek között */
    justify-content: center;
}

.product-card {
    position: relative;
    width: 380px; /* Kicsit nagyobb méret */
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .image-container {
    position: absolute;
    width: 60%; 
    height: 100%;
    left:25%;
    transition: transform 0.5s ease-in-out;
  }
  
  .product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, transparent, black 30%);
  mask-image: linear-gradient(to right, transparent, black 30%);
  }
  
  .info {
    position: absolute;
    width: 40%; /* Szöveg helyet kap jobbra */
    height: 100%;
    right: 0;
    background: white;
    padding: 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .product-card:hover .image-container {
    transform: translateX(-35%); /* A kép enyhén balra csúszik, de teljesen látszik */
  }
  
  .product-card:hover .info {
    transform: translateX(0);
    opacity: 1;
  }
  
  .cart-button{
    padding: 0;
    border: none;
    background: none;
  }
  

  .filter-and-cart {
    display: flex;
    flex-direction: row;
    background-color: var(--nav);
    height: 18vh;
    align-items: center; 
    padding: 0 10px; 
    justify-content: center;
  }
  
  .filter-and-cart .card {
    border: none;
    background: none;
    color: white;
    flex: 0 0 auto; /* A kártyák ne nyúljanak túl */
    width: 10vw; /* Kisebb szélesség */
    min-width: 120px; /* Minimum szélesség */
    height: 15vh; /* Magasság beállítása */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .filter-and-cart .card-body {
    padding: 5px; /* Csökkentsd az alapértelmezett paddinget */
    text-align: center; /* Középre igazítás */
  }
  
  
  .filter-and-cart .card img {
    max-height: 80%; 
    width: auto;
    margin-bottom: 0;
  }

  .filter-and-cart .card:hover{
    color: var(--gold);
  }