@import url(variables.css);

.slider {
  --carousel-height: 400px;
  --carousel-width: 1000px;
  --carousel-item-height: 150px;
  --carousel-item-width: 150px;
  margin: 20px 0;
  width: 100%;
}

#top-title {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 24px;
}

#drink-link {
  color: var(--gold);
  text-decoration: none;
  font-size: 16px;
}

#drink-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.slider-container {
  align-items: center;
  display: flex;
  min-height: var(--carousel-height);
  margin: 0 auto;
  max-width: var(--carousel-width);
  position: relative;
}

.slider-item {
  height: var(--carousel-item-height);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  width: var(--carousel-item-width);
  z-index: 0;
}

.slider-item-1 {
  left: 15%;
  opacity: 0.4;
}

.slider-item-2,
.slider-item-4 {
  height: calc(var(--carousel-item-height) * 1.5);
  opacity: 1;
  width: calc(var(--carousel-item-width) * 1.5);
  z-index: 1;
}

.slider-item-2 {
  left: 30%;
}

.slider-item-3 {
  height: calc(var(--carousel-item-height) * 2);
  opacity: 1;
  left: 50%;
  width: calc(var(--carousel-item-width) * 2);
  z-index: 2;
}

.slider-item-4 {
  left: 70%;
}

.slider-item-5 {
  left: 85%;
  opacity: 0.4;
}

.slider-controls {
  display: flex;
  justify-content: center;
}

.tpBtn {
  margin: 5px;
  padding: 10px;
  border: solid 1px rgba(255, 255, 255, 0.7);
  background-color: var(--filter);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: all 0.5s ease;
}

.tpBtn:hover {
  color: var(--filter);
  background-color: rgba(255, 255, 255, 0.7);
}

.slider-container.mobile-slider-container {
  display: flex;
  flex-direction: row;
}

/* .slider-item.slider-item-1.mobile-slider, .slider-item.slider-item-2.mobile-slider, .slider-item.slider-item-3.mobile-slider, .slider-item.slider-item-4.mobile-slider, .slider-item.slider-item-5.mobile-slider {
  width: 100%;
  height: 100%;
} */

@media screen and (max-width: 768px) {
  .tpBtn {
    display: none;
  }

  .slider{
    display: flex;
    flex-direction: column;
  }
}
