:root{
    --nav: #281b15;
    --brown2: #3D2A23;
    --brown3: #432C23;
    --brown4: #5F493B;
    --brown5: #7A6552;
    --green1: #253027;
    --green2: #152620;
    --green3: #22332C;
    --gold: #F4B562;
 }

 @font-face {
    font-family: "coffee";
    src: url("../../public/fonts/DancingScript-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: "main-font";
    src: url("../../public/fonts/ArsenalSC-Regular.ttf");
  }