:root {
  --nav: #281b15;
  --brown2: #3d2a23;
  --brown3: #432c23;
  --brown4: #5f493b;
  --brown5: #7a6552;
  --filter: #0d0907;
  --green1: #253027;
  --green2: #152620;
  --green3: #22332c;
  --gold: #f4b562;
  --glass-text: rgba(255, 255, 255, 0.7);
}

@font-face {
  font-family: "coffee";
  src: url("../../public/fonts/DancingScript-VariableFont_wght.ttf");
}

@font-face {
  font-family: "main-font";
  src: url("../../public/fonts/Quicksand-VariableFont_wght.ttf");
}
